.locations {
    z-index: 2;
}

.locations__grid {
    margin: 0 -30px;

    &__inner {
        padding-left: 9px !important;
        padding-right: 9px !important;
    }
}

.location-card {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0 21px;
    margin-bottom: 45px;

    @include media-breakpoint-up(md) {
        flex: 1 0 50%;
        max-width: 50%;
        padding: 0 6px;
        margin-bottom: 12px;
    }
    
    @include media-breakpoint-up(lg) {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    &.is-coming-soon {
        pointer-events: none;
        filter: grayscale(1);
    }

    &__inner {
        @include aspect-ratio(355,400);
    }

    &__img {
        transform: scale(1);
        transition: all $mgEase 800ms;
    }

    &:not(.is-coming-soon):hover {
        .location-card__img {
            transform: scale(1.05);
        }
    }

    &__img-gradient {
        position: absolute;
        bottom: 4px;
        left: 2px;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        background: linear-gradient(to top, rgba($black, .37) 0%, rgba($black, 0) 50%)
    }

    h2 {
        position: absolute;
        left: 35px;
        bottom: 40px;
        padding-right: 23px;
        line-height: 1.8;
        font-weight: 500;
        margin-bottom: 10px;
        
        @include media-breakpoint-up(lg) {
            left: 45px;
            bottom: 40px;
            padding-right: 40px;
            font-size: 28px;
            line-height: 36px;
        }

        .title-bg,
        .title-text {
            background-color: $white;
            padding: 13px 15px;
            box-decoration-break: clone;

            @include media-breakpoint-up(lg) {
                padding: 7px 15px;
            }
        }

        .title-text {
            background-color: transparent;
            color: $black;
            
            @include media-breakpoint-up(lg) {
                padding: 7px 15px;
            }
        }

        .title-bg {
            color: transparent;
            .arrow {
                opacity: 0;
            }
        }

        .arrow {
            width: 38px;
            height: 19px;
            overflow: hidden;
            vertical-align: middle;

            img {
                position: absolute;
                width: 35px;
                height: 19px;
                top: 0;
                left: 0;
                transition: ease 200ms;

                &.arrow-1 {
                    transform: translateX(-110%);
                    transition-delay: 0s;
                }
                &.arrow-2 {
                    transform: translateX(3px);
                    transition-delay: 200ms;
                }
            }
        }
    }

    &:not(.is-coming-soon):hover {
        @include media-breakpoint-up(lg) {
            .arrow-1 {
                transform: translateX(3px);
                transition-delay: 200ms;
            }
            .arrow-2 {
                transform: translateX(125%);
                transition-delay: 0s;
            }
        }
    }

    &__distance {
        display: none;
        position: absolute;
        top: 3px;
        right: 3px;
        background-color: $black;
        padding: 12px 19px;
        color: $white;
        font-size: 10px;
    }

    &__overlay {
        @include absolute-fill;
        background: rgba(#868579, .67);
        
        &__text {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            padding: 12px;
            background: black;
            color: $white;
            font-size: 10px;
            line-height: 17px;
        }
    }
}