.content-img + .video {
    @include media-breakpoint-up(md) {
        margin-top: 70px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 100px;
    }
}

.video {
    &__inner {
        margin: 0px 20px 70px;
        @include media-breakpoint-up(xl) {
            margin: 0px 20px 100px;
        }
    }

    &__video-container {
        height: 440px;
        border-radius: 6px;

        @include media-breakpoint-up(md) {
            height: 52vw;    
        }

        video {
            border-radius: 6px;
        }
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 15px;
        top: 0;
        opacity: 1;
        visibility: visible;
        transition: all ease 500ms;
        cursor: none !important;

        * {
            cursor: none !important;
        }
        
        .is-active & {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__title-container {
        position: absolute;
        top: 50px;

        @include media-breakpoint-up(md) {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__play-icon {
        @include media-breakpoint-down(md) {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @include media-breakpoint-down(sm) {
            top: 55%;
        }
    }

    &__close {
		position: absolute;
		background: $white;
		top: 30px;
		right: 30px;
        width: 57px;
        height: 57px;
        top: 15px;
        right: 30px;
        opacity: 0;
        visibility: hidden;
        transition: all ease 500ms;

        @include media-breakpoint-up(lg) {
            display: none !important;
        }
        
        .is-active & {
            opacity: 1;
            visibility: visible;
        }

		img {
			position: absolute;
			width: 28px;
			height: 18px;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}

    &__stars {
        position: absolute;
        top: -100px;
        left: -25px;
        width: 90px;
        
        @include media-breakpoint-up(md) {
            top: -130px;
            width: 150px;
        }
        @include media-breakpoint-up(lg) {
            top: -220px;
            width: 235px;
        }
    }

    &__stars-spacer {
        height: 40px;
        @include media-breakpoint-up(md) {
            height: 80px;
        }
    }
}