.c-cookie-banner {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: $z-overlay;
	background: $beige;
	border: 1px solid rgba($form-brown, 0.3);
	color: $black;
	padding: 15px 30px 20px;
	opacity: 0;
	visibility: hidden;
	transition: all ease 500ms;

	&.is-active {
		opacity: 1;
		visibility: visible;
		max-height: 200px;
	}

	@include media-breakpoint-up(lg) {
		padding: 25px 30px;
		right: 30px;
		bottom: 30px;
		max-width: 400px;
	}

	&__text {
		margin-bottom: 0;

		* {
			color: rgba($black, 0.85);
		}

		h3 {
			font-size: 13px;
			line-height: 22px;
			letter-spacing: 0.5px;
			font-weight: 500;
		}

		p,
		a {
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 0;
		}
		a {
			text-decoration: underline;
		}
	}
}
